

.dynamic {
  height: 45px;
  width: 600px;
  background-color: rgb(213, 218, 196);
  color: rgb(14, 9, 65);
  cursor: pointer;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-weight: 600;
}
.rj-span {
  font-weight: 600;
  background-color: rgb(213, 218, 196);
  
}